<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'signup.css' %}">
</head>
<body>
    <div class="main">
        <div class="left">
            <div>
                <img src="{% static 'image sign up/money.png' %}" class="imag">
            </div>
            <div>
                <p class="p1">
                    &#9830 Digital Platform To <br> stock your money <br>
                    Send And Receive money <br>
                     With The Minimum Of Fees
                </p>
            </div>
            <div>
                <p class="p2">
                    ENSIAS Crypto
                </p>
            </div>
            <div class="p3div">
                <p class="p3">
                    choose the best for the the best &#9989
                </p>
            </div>
        </div>
        <div>
            <div class="form3">
                <img src="{% static 'image sign up/images-removebg-preview.png' %}">
            </div>
            <div class="form2">
                <p class="p4">Hey , Hello &#128075</p>
                <div class="message">
                    wrong emailvvr
                </div>
                <p class="p5">Please enter your correct information here</p>
            </div>
            <div>
                <form class="form1">
                    <div class="flname">
                        <div class="info1">
                            Firstname
                            <input type="text" class="fname" name="firstname">
                        </div>
                        <div class="info1">
                            Lastname
                            <input type="text" class="lname" name="lastname">
                        </div>
                    </div>
                    <div class="info">
                        Username
                        <input type="text" class="uname" name="username">
                    </div>
                    <div class="info">
                        Email
                        <input type="text" class="email" name="email">
                    </div>
                    <div class="info">
                        Password
                        <input type="password" class="pass" name="password">
                    </div>
                    <div class="info">
                        Re-enter Password
                        <input type="password" class="rpass" name="rpassword">
                    </div>
                    <div>
                        <input type="submit" value="Sign UP" class="sign-up">
                    </div>
                </form>
                <div class="alink">
                    <a class="login" >You have an account ? Log in 
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>